<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 4
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="(takePhoto())">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div id="photoPreview">
    <div *ngFor="let image of imageUploads; let i = index">
      <img loading="lazy" [src]="image" />
    </div>
  </div>
</ion-content>