.center {
    justify-content: center;
    align-self: center;
    align-content: center;
    align-items: center;
    width: 50%;
}

.al {
    display: grid;
    justify-content: center;
    align-self: center;
    align-content: center;
    align-items: center;
}

.img {
    width: 60%;
    height: 60%;
    overflow: hidden;
}