<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reserva de {{guest.guestName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Reserva de la Habitación: {{guest.roomCode}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>Titular: <br>{{guest.guestName}}</ion-card-subtitle>
      <ion-card-subtitle>Número de Teléfono:<ion-card-subtitle (click)="sendMessage()" class="url"> {{guest.guestPhone}}
        </ion-card-subtitle>
      </ion-card-subtitle>
      <ion-card-subtitle>Fecha de Entrada: <br>{{newDate(guest.enterDate)}}</ion-card-subtitle>
      <ion-card-subtitle>Fecha de Salida: <br>{{newDate(guest.leaveDate)}}</ion-card-subtitle>
      <ion-card-subtitle>Precio habitacion: <br>{{room.price|currency}}</ion-card-subtitle>
      <ion-card-subtitle>Cantidad pagada: <br>{{guest.payment|currency}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-content>