<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>{{this.roomT}}{{this.room.roomCode}}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>{{this.entr}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>03:00 pm</ion-card-content>
  </ion-card>
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>{{this.sald}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>12:00 pm</ion-card-content>
  </ion-card>
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>{{this.recom}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{this.recom1}}</ion-card-content>
    <ion-card-content>{{this.recom2}}</ion-card-content>
    <ion-card-content>{{this.recom3}}</ion-card-content>
  </ion-card>
  <ion-card color="light" *ngIf="!pagado()">
    <ion-card-header>
      <ion-card-title>{{this.pay}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{this.resto|currency}}</ion-card-content>
  </ion-card>
  <ion-card color="light" *ngIf="fechaActual()">
    <ion-card-header>
      <ion-card-title>{{this.token}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{this.room.enterCode}}</ion-card-content>
  </ion-card>
</ion-content>